ion-content{
  background-color: black;
}
ion-item{
  margin: 10px 10px 10px 10px;
}
ion-button{
  margin: 15px auto 15px auto;
  width: 80%;
  --background: red;
}
center{
  background-color: transparent;
}
ion-title{
  background-color: black;
  font-weight: bold;
  font-size: 40px;
}
ion-avatar {
  width: 150px;
  background-color: black;
  height: 150px;
  align-self: center;
}
.msjerror{
  margin: 0 10px 0 10px;
  background-color: yellow;
  color: black;
  text-align: center;
}